.view-status-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141414;
}

.button-container i {
  color: #fff;
  font-size: 1.5em;
  vertical-align: middle;
}

#previousButton {
  position: absolute;
  top: 50%;
  left: 1em;
  font-size: 1.4em;
}

#nextButton {
  position: absolute;
  top: 50%;
  right: 1.5em;
  font-size: 1.4em;
}

.previous-button {
  margin: 1em;
  font-size: 1.2em;
}

.close-button {
  position: absolute;
  top: 1em;
  right: 2em;
  color: #fff;
  font-size: 1.5em;
}

.entry-container {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
}

.entry-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000000d7;
}

.progress-bar { 
  width: 100%;
  height: 0.5em;
  background-color: #ddd;
}

.bar {
  width: 1%;
  height: 0.5em;
  background-color:#808080bc;
}

.status-item {
  display: none;
}

.current {
  display: block;
}

.entry-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  color: #fff;
  box-shadow: 0 0 0.5em 0 #000;
}
