.chat-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #efe7dd;
  background-size: contain;
  background-position: center;
  background-image: url('../../assets/chat_background_Image.png');
}

.chat-nav-dropdown {
  margin-right: 1em;
}

.chat-top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #EDEDED;
  border-left: 0.1em solid #DADADA;
}

.chat-top-nav > img {
  margin: 0.8em;
}

#chatInputContent {
  position: fixed;
  bottom: 0;
  background-color: #F0F0F0;
  width: 100%;
}

#chatInputContent > div {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.6fr;
}

.chat-box {
  width: 90%;
  border: unset;
  padding: 1em 1.5em 0 1.5em;
  border-radius: 1.5em;
  outline: none;
  resize: none;
  margin: 1em;
  overflow-x: hidden;
  max-height: 8em;
  line-height: 1.2em;
  font-size: 1.1em;
  color: #7F7F7F;
}

.add-buttons i {
  font-size: 2em;
  vertical-align: middle;
}

.add-buttons {
  margin: auto 0;
}

.send-button {
  display: none;
}

.person-button-container {
  display: none;
  position: fixed;
  bottom: 7em;
  right: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  width: 7em;
  background-color: #fff;
}

.person-button-container > button {
  width: 100%;
  padding: 0.5em 0;
  font-weight: 600;
  background-color: #F0F0F0;
  color: #7F7F7F;
  text-align: center;
}

.person-one-button {
  margin-bottom: 0.5em;
}

.chat-container { 
  position: relative;
  top: 5em;
  height: auto;
  max-height: 30em;
  overflow-y: auto;
  padding: 0.5em 3em 1em 3em;
}

.chat-item {
  display: flex;
  padding: 0.2em 0;
  margin: 0 0.5em 0 0.6em;
}

.person-one {
  flex-direction: row-reverse;
}

.chat-text {
  background-color: #E1FFC7;
  border-radius: 0.3em;
  padding: 0.2em 1em;
  max-width: 18em;
  word-wrap: break-word;
  height: auto;
}

#person-two {
  background-color: #fff;
}

.chat-time {
  position: relative;
  left: 2em;
  color: #9aad88;
  font-size: 0.7em;
}

#person-two .chat-item-dropdown {
  background-color: #fff;
}

.chat-item-dropdown {
  visibility: hidden;
  position: relative;
  background-color: #E1FFC7;
  vertical-align: middle;
  padding: 0;
}

.arrow-right {
  position: relative;
  right: 0.3em;
  top: 0.2em;
  float: right;
  width: 0;
  height: 0;
  border-bottom: 1.5em solid transparent;
  border-left: 0.8em solid #E5FFCC;
}

.arrow-left {
  position: relative;
  left: 0.3em;
  top: 0.2em;
  float: left;
  width: 0;
  height: 0;
  border-bottom: 1.5em solid transparent; 
  border-right: 0.8em solid #fff;
}

.chat-container::-webkit-scrollbar {
  width: 0.5em;
}

.chat-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
  background: #BAB3AE;
}

.person-info {
  text-align: left;
  width: 100%;
  line-height: 1.1em;
  padding: 1.3em 0;
}

.person-info p {
  margin: 0;
}

#chatPageOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #00000000;
}

.dropdown-modal {
  display: none;
  position: fixed;
  background-color: #fff;
  height: auto;
  z-index: 1;
  width: 11em;
  border-radius: 0.5em;
  padding: 0.5em 0;
}

.dropdown-modal > button {
  display: block;
  padding: 1em;
  width: 100%;
  text-align: left;
  margin: 0.2em 0;
}

#personOneDropdown {
  right: 100px;
}

.delete-modal {
  display: none;
  position: absolute;
  top: 35%;
  left: 6%;
  background-color: #fff;
  width: 35%;
  height: auto;
  z-index: 2;
  font-size: 1.3em;
  box-shadow: 0 0 1em 0.3em #A9A9A8;
  padding: 0 1.5em 1.5em 1.5em;
}

.delete-modal > div {
  float: right;
  margin-top: 1.2em;
}

.cancel-button {
  color: #05CD51;
  padding: 1em 1.5em;
  font-weight: 600;
  font-size: 0.7em;
}

.delete-button {
  background-color: #05CD51;
  padding: 1em 1.5em;
  font-weight: 600;
  color: #fff;
}
