#statusTextContainer {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  background-color: #1C8B82;
}

#statusTextInput {
  font-size: 2em;
  width: 90%;
  margin: 0.8em 0.5em;
  color: #ffffff;
  border: none;
  outline: none;
  overflow-x: hidden;
  resize: none;
  height: 70%;
  max-height: 70%;
  text-align: center;
  line-height: 1.2em;
  background-color: transparent;
}

#statusTextInput::placeholder {
  color: #ffffffaf;
}

.icon {
  position: fixed;
  bottom: 3em;
  color: #fff;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  font-size: 1.2em;
  background-color: #0f5f58;
  box-shadow: 0 0.2em 0.2em 0em #00000060;
}

#backButton {
  left: 2em;
}

#backButton > i {
  font-size: 1.5em;
  padding: 0.2em;
}

.icon i {
  color: #fff;
}

#colorButton {
  left: 7em;
}

#sendTextButton {
  display: none;
  left: 16em;
}

#sendTextButton > i {
  font-size: 1.5em;
  padding: 0.5em 0.4em;
}
