#statusTextContainer {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #08b99c;
}

#statusTextInput {
  font-size: 2em;
  width: 90%;
  margin: 0.8em 0.5em;
  color: #ffffff;
  border: none;
  outline: none;
  overflow-x: hidden;
  resize: none;
  max-height: 18em;
  text-align: center;
  line-height: 1.2em;
  background-color: transparent;
}

#statusTextInput::placeholder {
  color: #ffffffaf;
}

#backButton {
  left: 2em;
}

#backButton > i {
  font-size: 1.5em;
  padding: 0.2em;
}

#colorButton {
  left: 7em;
}

#sendTextButton {
  display: none;
}

#sendTextButton > i {
  font-size: 1.5em;
  padding: 0.5em 0.4em;
}