.status-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #000;
}

.view-update-page {
  text-align: center;
  width: 80%;
  margin: 5em auto;
  height: auto;
  color: #fff;
  padding-top: 1em;
}

#statusMessage {
  font-size: 1.5em;
}

.status-entry-item {
  display: grid;
  margin: 1em 0;
  width: 7em;
}

.status-entry-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0 1em;
  height: auto;
  width: fit-content;
  margin: auto;
}

.status-entry {
  max-width: 4em;
  margin: 0 0 0.5em 1em;
  font-size: 1.2em;
}

.delete-entry-button {
  visibility: hidden;
  font-size: 1em;
  text-align: right;
  color: #fff;
}

#closeButton {
  font-size: 1.5em;
  float: right;
  margin: 0.5em;
  color: #fff;
}

.status-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #fff;
  width: 3.2em;
  height: 3.2em;
  border-radius: 50%;
  max-width: 4em;
  margin: 0 0 0.2em 0.7em;
  word-break: break-all;
  overflow: hidden;
}
