.status-page {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #000;
}

.view-update-page {
  text-align: center;
  width: 50%;
  margin: 8em auto;
  color: #fff;
  padding: 2em 0;
}

.status-page p {
  font-size: 1.5em;
}

.status-entry-item {
  display: grid;
  width: fit-content;
}

.status-entry-container {
  display: flex;
  justify-content: center;
}

.status-entry {
  max-width: 4em;
  margin: 0 0 0.5em 1em;
  font-size: 1.2em;
}

.delete-entry-button {
  font-size: 1em;
  text-align: right;
  color: #fff;
}

#closeButton {
  font-size: 1.5em;
  float: right;
  margin: 0.5em;
  color: #fff;
}
