.dark span {
  color: #9D9FA1;
}

.dark .default-page {
  background-color: #262D31;
}

.dark #defaultPage {
  color: #D9D9DB;
  border-bottom: 0.1em solid #3C4247;
}

.dark .default-page-photo {
  background-size: contain;
  margin: 5em auto 2em;
  font-size: 0.7em;
  background-image: url("../../assets/default_page_darkphoto.png");
}

.dark .default-page > p {
  color: #9D9FA1;
}

.dark .contact-pane {
  background-color: #131C21;
}

.dark .top-nav {
  background-color: #2A2F32;
}

.dark i {
  color: #B1B3B5;
}

.dark .search-box {
  background-color: #323739;
  color: #fff;
}

.dark .chat-settings-options p,
.dark .more-info {
  color: #fff;
  border-bottom: 0.01em solid #30383D;
}

.dark .chat-person-list::-webkit-scrollbar-track {
  background-color: #131C21;
}

.dark .chat-person-list::-webkit-scrollbar-thumb {
  background: #323739;
}

.dark .chat-person:hover,
.dark .chat-settings-options > button:hover {
  background-color: #2D3134;
}

.dark .nav-dropdown-modal {
  background-color: #2A2F32;
  box-shadow: 0 0 1em 0.3em #00000085;
}

.dark .nav-dropdown-modal > button,
.dark .message-value {
  color: #fff;
}

.dark .nav-dropdown-modal > button:hover,
.dark .settings-nav {
  background-color: #131C21;
}

.dark .settings-header {
  background-color: #323739;
}

.dark .page-overlay {
  background-color: #0a0f1293;
}

.dark .theme-container,
.dark .delete-modal {
  background-color: #3B4042;
  box-shadow: 0 0 1em 0.3em #000;
  color: #fff;
}

.dark .radio input:checked ~ .checkmark {
  border: 2px solid #0075FF;
}

.dark .radio .checkmark:after {
  background: #0075FF;
}

.dark .radio > .checkmark {
  background: #fff;
}

.dark .close-theme-button,
.dark .cancel-button {
  color: #00AF9C;
}

.dark .confirm-theme-button,
.dark .delete-button {
  background-color: #00AF9C;
  color: #000;
}

.dark .chat-page {
  color: #fff;
  background-image: url('../../assets/chat_dark_background_image.png');
}

.dark .chat-top-nav {
  background-color: #2A2F32;
  border-left: 0.1em solid #3F4448;
}

.dark #chatInputContent,
.dark .person-button-container {
  background-color: #2A2F32;
}

.dark .chat-box,
.dark .person-button-container > button {
  background-color: #323739;
  color: #fff;
}

.dark .chat-text {
  background-color: #056162;
}

.dark .arrow-right {
  border-left: 0.8em solid #056162;
}

.dark .chat-item-dropdown {
  background-color: #056162;
}

.dark #person-two .chat-item-dropdown,
.dark #person-two {
  background-color: #262D31;
}

.dark .arrow-left {
  border-right: 0.8em solid #262D31;
}

.dark .dropdown-modal {
  background-color: #2A2F32;
}

.dark .dropdown-modal > button {
  color: #fff;
}

.dark .dropdown-modal > button:hover {
  background-color: #131C21;
}

.dark .photo-button .more-info {
  border: none;
}

.dark #addPhotoStatusButton {
  background-color: #131C21;
}

.dark .icon {
  background-color: #131C21;
}

.dark .icon i {
  color: #fff;
}

.dark .status-delete-modal {
  background-color: #3B4042;
  box-shadow: 0 0 1em 0.3em #000;
  color: #fff;
}

.dark .status-delete-modal > button {
  color: #00AF9C;
}

.dark .delete-entry-button > i {
  color: #fff;
}
