.page-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

#topPageOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #00000000;
}

.page-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #fbfaf9b4;
}

.contact-pane {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
}

.top-nav {
  position: fixed;
  width: 30%;
  height: 25%;
  z-index: 1;
  background-color: #EDEDED;
}

.top-nav-buttons {
  display: grid;
  grid-template-columns: 1fr 0.2fr 0.2fr 0.2fr;
  margin: 0.5em 1em;
}

i {
  color: #919191;
}

.profile-photo {
  height: 3em;
  width: 3.2em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin: 0.4em 1em 0 0;
}

button {
  border: unset;
  background-color: unset;
  cursor: pointer;
  outline: none;
}

.image {
  height: 4em;
  min-width: 4em;
  border-radius: 50%;
  object-fit: cover;
  background-color: #000000d7;
  margin: 0.4em 1em 0 0;
}

#searchBoxContainer {
  width: 100%;
}

.search-box {
  width: 80%;
  border: unset;
  padding: 1em 0 0 4em;
  border-radius: 1.5em;
  outline: none;
  resize: none;
  margin: 1em;
}

.chat-person-list {
  position: relative;
  top: 25%;
  height: auto;
  max-height: 30em;
  overflow-y: auto;
}

.chat-person {
  display: flex;
  width: 100%;
}

.chat-person:hover,
.nav-dropdown-modal > button:hover {
  background-color: #EBEBEB;
}

.more-info {
  text-align: left;
  width: 100%;
  line-height: 1.5em;
  padding: 1em 0;
  border-bottom: 0.01em solid #95959555;
}

.more-info p {
  margin: 0;
}

.more-info strong {
  font-size: 1.2em;
}

.name {
  font-size: 1.2em;
}

.chat-person-list::-webkit-scrollbar {
  width: 0.4em;
}

.chat-person-list::-webkit-scrollbar-track {
  background-color: #fff;
}

.chat-person-list::-webkit-scrollbar-thumb {
  background: #ccc;
}

.nav-dropdown-modal {
  display: none;
  position: absolute;
  right: 10%;
  top: 3em;
  background-color: #fff;
  height: auto;
  width: 12em;
  z-index: 2;
  border-radius: 0.2em;
  padding: 1em 0;
  box-shadow: 0 0 1em 0.3em #A9A9A8;
}

.nav-dropdown-modal > button {
  display: block;
  padding: 0.8em 1em;
  width: 100%;
  text-align: left;
  font-size: 1em;
}

.search-icon {
  position: relative;
  top: 2.4em;
  left: 1.5em;
  font-size: 1.3em;
}
