.default-page {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: #F8F9FA;
  text-align: center;
}

.default-page-photo {
  width: 30em;
  height: 25em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/default_page_photo.png");
}

#defaultPage {
  width: 50%;
  margin: auto;
  color: #636363;
  padding: 2em 0;
  border-bottom: 0.1em solid #E5E5E6;
}

#defaultPage > p {
  font-size: 2em;
  margin: 0 0 0.5em;
}

#defaultPage > span {
  font-size: 0.8em;
}

.default-page > p {
  color: #636363;
  padding: 2em 0;
  font-size: 0.8em;
}
